.pan,
.edit,
.simulate,
.undo,
.redo,
.zoom-in,
.zoom-out,
.snap-to-grid {
    position: relative;
}

.pan img,
.edit img,
.simulate img,
.undo img,
.redo img,
.zoom-in img,
.zoom-out img,
.snap-to-grid img {
   transition: all 0.25s ease;
}

.pan:hover img,
.edit:hover img,
.simulate:hover img,
.undo:hover img,
.zoom-in:hover img,
.zoom-out:hover img,
.snap-to-grid:hover img {
   transform: translateY(0.5rem);
}

.pan::after,
.edit::after,
.simulate::after,
.undo::after,
.redo::after,
.zoom-in::after,
.zoom-out::after,
.snap-to-grid::after {
    position: absolute;
    top: 0;
    height: 0;
    opacity: 0;
    transition: all 0.25s ease;
    font-size: 0.6rem;
    white-space: nowrap;
    color: grey;
}

.pan::after {
    content: "Pan";
    
}
.edit::after {
    content: "Edit";
    
}
.simulate::after {
    content: "Simulate";
    
}
.undo::after {
    content: "Undo";
    
}
.redo::after {
    content: "Redo";
    
}
.zoom-in::after {
    content: "Zoom in";
    font-size: 0.55rem;
}
.zoom-out::after {
    content: "Zoom out";
    font-size: 0.55rem;
}
.snap-to-grid::after {
    content: "Snap";
    
}

.pan:hover::after,
.edit:hover::after,
.simulate:hover::after,
.undo:hover::after,
.redo:hover::after,
.zoom-in:hover::after,
.zoom-out:hover::after,
.snap-to-grid:hover::after {
    height: 0.5rem;
    opacity: 1;
}